.buttonClass {
  padding: 10px 20px;
  background-color: #b6ccf9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
  font-weight: 600;
}

#small {
  font-size: 10px;
  padding: 4px 8px;
}

#medium {
  font-size: 14px;
  padding: 8px 16px;
}

#large {
  font-size: 18px;
  padding: 12px 24px;
}
